<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profile Banner</title>
        <link rel="stylesheet" href="style.css" />
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
            integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        /* BEGIN: Shayan Hayat - EMP_375 */
        <section class="banner-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <img
                            src="./Images/Shan.jpg"
                            alt="Profile Image"
                            class="profile-img mb-3"
                        />
                        <h1 class="display-5">Shayan Hayat</h1>
                        <p class="lead">Islamabad, Pakistan</p>
                        <p class="lead">
                            Web Developer | Designer | Content Creator
                        </p>
                        <a href="#" class="social">Follow me on Social Media</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- About me -->
        <section class="about">
            <div class="about-me">
                <h1>About Me</h1>
                <p>
                    Hi my name is shayan hayat, i`m basically from Gilgit
                    Baltistan. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. At doloribus voluptates quibusdam, debitis
                    voluptatum, odio consectetur aut ullam, quia impedit ratione
                    deserunt? Error facere accusamus hic magnam earum voluptate
                    labore placeat, pariatur perspiciatis. Veniam, fuga. Lorem
                    ipsum dolor sit amet consectetur, adipisicing elit.
                    Quibusdam modi exercitationem corporis minima accusamus odio
                    fugiat amet velit et nulla harum, voluptas perferendis
                    aperiam sunt quae numquam ipsa similique consequatur
                    deserunt ratione molestias alias quo commodi saepe. Aperiam
                    officia cum at fugit iste laudantium, inventore eveniet ut
                    placeat ipsum impedit ratione fuga? Repellat eaque quis
                    minima molestias. Nulla et amet tempora, non quas qui eum!
                </p>
            </div>
        </section>
        <!-- About me -->

        /* END: Shayan Hayat - EMP_375 */
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
