/* BEGIN: Zakria Mahmood - EMP_ID_303 */

/* END: Name - 303*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.content-left {
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 100vh;
}

.content-left p {
  font-size: 30px;
}

.content-left .Front-End {
  margin-bottom: 2rem;
  font-weight: 500;
}

.content-left a {
  text-decoration: none;
  border: 2px solid #e8960f;
  padding: 13px 45px;
  font-size: 17px;
  color: #e8960f;
  margin-top: 2rem;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
}
.content-left a:hover {
  background-color: #e8960f;
  color: #fff;
  border: none;
}
.content-left h1 {
  color: #e8960f;
  font-size: 50px;
  font-weight: 800;
}
.content-right {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #e8960f;
}
.main .content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
}

.content-right img {
  width: 30%;
  right: 15rem;
  bottom: 0rem;
  position: absolute;
}

/* second-part */
.second-part {
  width: 100%;
  height: 100vh;
  background-color: #000000e6;
  position: relative;
}
.second-part img {
  width: 30%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 15rem;
}
/* 
.second-part img {
  width: 100%;
} */
/* second-part */
